<div id='card-photo'>
  
  <div class="card-box col-md-4 col-sm-4">
    <div class="card cardleft card-index">          
      
      <div class="header">
        <div class="insidephoto"></div>
        <div class="filter"></div>
          
        <div class="actions">
          <div class="btn btn-round btn-fill btn-neutral btn-modern">
             <%= link_to foodies_photo_path(id: photo.id) do %>
               <%= image_tag photo.avatar_url(:thumb).to_s, :size => "260x180" %>
             <% end %>
          </div>
        </div>
      </div>           
          
      <div class="content">               
        <h4 style="font-family: 'Anton', sans-serif;"><%= truncate(photo.title, :length => 20) %> </h4>
        <p>Venue: </br> <%= truncate(photo.restaurant, :length => 40) %></p>
        <p>Review:</br> <%= truncate(photo.description, :length => 90) %></p>
        <p>Price:<b> $<%= photo.price %></b></p>   
        <p>Tags: <%=raw photo.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %></p>
        <div>  <!-- likes -->
          <% if foody_signed_in? %>
            <% if current_review = photo.likeables.find_by(foody_id: current_foody.id) %>
              <div id="like-<%photo.id%>"><%= render 'got_likeable', photo: photo %></div>
            <% else %>
              <div id="no-like-<%photo.id%>"><%= render 'no_likeable', photo: photo %></div>
            <%end %>
          <% else %>
            <%= link_to "<i class=\"glyphicon glyphicon-thumbs-up\"></i>".html_safe, new_foody_session_path %>
            <%= link_to "<i class=\"glyphicon glyphicon-thumbs-down\"></i>".html_safe, new_foody_session_path %>
          <% end %>
        </div>
        <div id="rating"><%= photo.rating(photo) %></div>
        <div class="bywho"><small><%= link_to photo.foody.name, foody_path(photo.foody) %></br> Created: <%= time_ago_in_words(photo.created_at) %> ago</small></div>
      </div>                        

    </div>
  </div>

</div>