<div class="col-sm-3">
  <div class="card-index">          
    
    <div class="header">
         <%= link_to foodies_photo_path(id: photo.id) do %>
           <!-- <%= image_tag photo.avatar_url.to_s, class: "fixed-ratio-resize-index" %> -->
           <div style="background: url(<%= photo.avatar_url.to_s %>) center center no-repeat; background-size: cover;" class="fixed-ratio-resize-index"></div>
         <% end %>           
    </div>           
        
    <div class="content-index">
      <div class="row">
        <div class="col-md-8 col-xs-8">
          <h4><%= truncate(photo.title.capitalize, :length => 20) %></h4>
        </div>
        
        <div class="col-md-4 col-xs-4">
          <div class="rating-index">
            <div id="rating-<%photo.id%>">
              <%= photo.score(photo) %>
            </div> 
          </div>  
        </div>
      </div>           
      
      
      <div class="row">
        <div class="col-md-9 col-xs-9">
          <p class="index-review"><%= truncate(photo.description, :length => 90) %></p>
        </div>
        
        <div class="col-md-3 col-xs-3 thumbs">
          <div id="like-<%photo.id%>"><%= render 'likeable', photo: photo %></div>
        </div>
      </div>
    </div>                        
  </div>
</div>


