<!-- ///////////////////////// main banner ///////////////////////////////////////// -->
<div class="container-fluid">
  <div class="row">

    <div class="landing-banner">
      <div class="row textspace"> 
        <div class="col-md-3 col-xs-3"></div>
          <div class="col-md-6 col-xs-6">
            <div class="homefont text-center">
              Get reviews on the best Halal food in Singapore and where to find them!
            </div>
          </div>
        <div class="col-md-3 col-xs-3"></div>
      </div>

      <div class="row searchrow">
        <div class="col-md-3 col-xs-3"></div>
        <div class="col-md-6 col-xs-6">

        <div class="row">
          <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-8 col-xs-8">
              <%= form_tag(search_photos_path, method: :patch) do %>

              <form class="searchbar" role="search">
                <div class="input-group">
                  <%= text_field_tag :search_query,params[:search_query], placeholder: "I'm craving for...", class: "form-control" %>
                  <span class="input-group-btn">
                    <%= button_tag(type: "submit", class: "btn btn-danger") do %>
                    <i class="fa fa-search fa-lg"></i>
                  <% end %>
                  </span>
                    <% end %>
                 </div>
              </form>

            </div>

          <div class="col-md-2 col-xs-2"></div>
        </div>
        <div class="col-md-3 col-xs-3"></div>
       </div>
      </div>

     </div>
  </div>
</div>
<!-- ///////////////////////// Latest reviews ///////////////////////////////////////// -->
<div class="container-fluid">
  <div class="row cardrow">
      <div class="col-xs-12">
    
        <div class="posthead">Latest Reviews</div>
        
        <div id='card-photo'>
          <%= render 'photo_card', photos: @latest_photos %>
        </div>

      </div>
  </div>
</div>

  <div class="row viewmore">
    <%= link_to 'View More', view_more_path, class: 'btn btn-primary btn-xs buttonwide' %>
  </div>

<!-- ///////////////////////// Categories ///////////////////////////////////////// -->


<div class="row paramargin">
  <section class="module parallax parallax-2">
    <div class="contain row">
      <div class="category"><u>CATEGORIES</u></div>
    </div>

    <div class="row categories">
      <div class="butttons">
        <a href="tags/wallet-friendly" class="bttn">Wallet Friendly</a>
        <a href="tags/great-ambience" class="bttn">Great Ambience</a>
        <a href="tags/big-gatherings" class="bttn">Big Gatherings</a>
      </div>
    </div>

    <div class="row categories">
      <div class="butttons">
        <a href="tags/instagrammable" class="bttn">Instagram-able</a>
        <a href="tags/supper" class="bttn">Supper Joints</a>
        <a href="tags/near-mosque" class="bttn">Near Mosque</a>
      </div>
    </div>
  </section>
</div>


<!-- ///////////////////////// High Rated Reviews ///////////////////////////////////////// -->

<div class="container-fluid cardcont">
  <div class="row cardrow">

  <div class="posthead">High Rated Reviews</div>

  <div class="card-box col-md-4 col-sm-6">
    <div class="card cardleft">                            
        <div class="header">

          <div class="filter"></div>

          <div class="actions">
            <button class="btn btn-round btn-fill btn-neutral btn-modern">
            </button>
          </div>
        </div>
        
        <div class="content">
          <h6 class="category">Food</h6>
          <h4 class="title"><a href="#">Try the new laksa from Auntie Shop! </a></h4>
          <p class="description">The portion is huge and the gravy super delicious! Price is good too!</p>
          <div class="rating">8.0</div>
          <div class="bywho"><small>By Regent on 20th Oct 2017</small></div>
        </div>                                           
    </div> <!-- end card -->

   </div>

   <div class="card-box col-md-4 col-sm-6">
    <div class="card">                            
        <div class="header">
          <img src="assets/img/lifestyle-8.jpg"/>
          <div class="filter"></div>
          
          <div class="actions">
            <button class="btn btn-round btn-fill btn-neutral btn-modern">
            </button>
          </div>
        </div>
        
        <div class="content">
          <h6 class="category">Food</h6>
          <h4 class="title"><a href="#">Try the new laksa from Auntie Shop! </a></h4>
          <p class="description">The portion is huge and the gravy super delicious! Price is good too!</p>
          <div class="rating">8.8</div>
          <div class="bywho"><small>By Regent on 20th Oct 2017</small></div>
        </div>                                           
    </div> <!-- end card -->
   </div>

   <div class="card-box col-md-4 col-sm-6">
    <div class="card cardright">                            
        <div class="header">

          <div class="filter"></div>
          
          <div class="actions">
            <button class="btn btn-round btn-fill btn-neutral btn-modern">
            </button>
          </div>
        </div>
        
        <div class="content">
          <h6 class="category">Food</h6>
          <h4 class="title"><a href="#">Try the new laksa from Auntie Shop! </a></h4>
          <p class="description">The portion is huge and the gravy super delicious! Price is good too!</p>
          <div class="rating">9.0</div>
          <div class="bywho"><small>By Regent on 20th Oct 2017</small></div>
        </div>                                           
    </div> <!-- end card -->
   </div>

   <div class="row viewmore">
    <button type="button" class="btn btn-primary btn-xs buttonwide">View More</button>
  </div>

  </div>

  
</div>







<script src="/path/to/masonry.pkgd.min.js"></script>

<script type="">

$('.grid').masonry({
  // options
  itemSelector: '.grid-item',
  columnWidth: 200
});
</script>
