<%= link_to 'Back To Home', root_path %>

<%= @params.each do |key, value| %>

  <p> <strong><%= key %>:</strong> <%= value %> <p>

<% end %>


<% @restaurants.each do |u| %>
  <h4> <%= u.username %> </h4>
  <p> <%= u.attributes %> </p>
<% end %>