
	<% if foody_signed_in? %>
		<%= link_to current_foody.name, foody_path(current_foody) %>
	<% end %>

	 <% @photos.each do |photo| %>
		
		<%= photo.title %>
		<%= photo.description %>
		<p>$<%= photo.price %></p>		
		<%= image_tag photo.avatar_url(:thumb).to_s, :size => '260x180' %>
	
		<% if current_review = photo.likeables.find_by(foody_id: current_foody.id) %>
			<%= render 'got_likeable', photo: photo %>
		<% else %>
			<%= render 'no_likeable', photo: photo %>
		<% end %>
		
	<% end %>

			 <!-- <td><div class="">< link_to "Edit", edit_foodies_photo_path(id: photo.id) %>    </div></td> -->
			 <!-- <td><div class="">< link_to "Delete", foodies_photo_path(id: photo.id), method: :delete %></div></td> -->

	  <%= link_to "Upload New Photo", new_foodies_photo_path %>







<div class="container-fluid cardcont">
  <div class="row cardrow">

  <div class="posthead">Latest Reviews</div>
    <% if !@photo.blank? %>
      <div class="card-box col-md-4 col-sm-6">
        <div class="card cardleft">                            
         <div class="header">
           <div class="insidephoto"></div>
             <div class="filter"></div>
                <div class="actions">
                    <button class="btn btn-round btn-fill btn-neutral btn-modern">
                        <% if @photo.avatar.present? %> 
                           <%= link_to foodies_photo_path(id: @photo.id) do %>
                             <%= image_tag @photo.avatar_url.to_s, :size => "250x180" %>
                           <% end %>
                        <% else %>
                           <%= link_to foodies_photo_path(id: @photo.id) do %>
                             <%= image_tag ('/assets/mee.jpg'), :size => "250x180" %>
                           <% end %>
                        <% end %>
                     </button>
                </div>
              </div>
        
        <div class="content">
           <h4>Place: <%= @photo.restaurant %></h4>
          <p>Food: <%= @photo.title %></p>
          <p>Review: <%= truncate(@photo.description, :length => 100) %></p>
          <p>Price:<b> $<%= @photo.price %></b></p>   
            <div class="bywho"><small><%= link_to @photo.foody.name, foody_path(current_foody) %></br> Created: <%= time_ago_in_words(@photo.created_at) %> ago</small></div>
        </div>                                           
    </div> <!-- end card -->

  
              <% else %>
     <div class="card-box col-md-4 col-sm-6">
    <div class="card cardleft">                            
        <div class="header">
        <div class="insidephoto"></div>
          <div class="filter"></div>
          <div class="actions">
            <button class="btn btn-round btn-fill btn-neutral btn-modern">n">
                                  Read Article
                      </button>
                  </div>
                </div>
       
            <div class="content">
                   <h4>Place: XXX </h4>
          <p>Food: XXX </p>
          <p>Review: XXX </p>
          <p>Price:<b> XXX </b></p>   
            <div class="bywho"><small> XXX </br> </small></div>
        </div>                                           
    </div> <!-- end card -->
   <% end %>
</div> 

<!-- end card 1 -->



<!-- start card 2 -->

<% if !@photo2last.blank? %>
    <div class="card-box col-md-4 col-sm-6">
        <div class="card">                             
         <div class="header">
           <div class="insidephoto"></div>
             <div class="filter"></div>
                <div class="actions">
                    <button class="btn btn-round btn-fill btn-neutral btn-modern">
                         <% if @photo2last.avatar.present? %> 
                           <%= link_to foodies_photo_path(id: @photo2last.id) do %>
                             <%= image_tag @photo2last.avatar_url.to_s, :size => "250x180" %>
                           <% end %>
                        <% else %>
                           <%= link_to foodies_photo_path(id: @photo2last.id) do %>
                             <%= image_tag ('/assets/mee.jpg'), :size => "250x180" %>
                           <% end %>
                        <% end %>
                     </button>
                </div>
              </div>

        
        <div class="content">
           <h4>Place: <%= @photo2last.restaurant %></h4>
          <p>Food: <%= @photo2last.title %></p>
          <p>Review: <%= truncate(@photo2last.description, :length => 100) %></p>
          <p>Price:<b> $<%= @photo2last.price %></b></p>   
            <div class="bywho"><small><%= link_to @photo2last.foody.name, foody_path(current_foody) %></br> Created: <%= time_ago_in_words(@photo.created_at) %> ago</small></div>
        </div>            
      </div>                                 
    </div> <!-- end card -->

  
<% else %>
     <div class="card-box col-md-4 col-sm-6">
       <div class="card cardleft">                            
        <div class="header">
         <div class="insidephoto"></div>
         <div class="filter"></div>
            <div class="actions">
               <button class="btn btn-round btn-fill btn-neutral btn-modern">Read Article</button>
            </div>
        </div>
       
          <div class="content">
           <h4>Place: XXX </h4>
           <p>Food: XXX </p>
           <p>Review: XXX </p>
           <p>Price:<b> XXX </b></p>   
           <div class="bywho"><small> XXX </br> </small></div>
          </div>                                           
       </div> <!-- end card -->
<% end %>
    </div> 


<!-- end card 2 -->

<!-- start card 3 -->

<% if !@photo3last.blank? %>
    <div class="card-box col-md-4 col-sm-6">
        <div class="card">                             
         <div class="header">
           <div class="insidephoto"></div>
             <div class="filter"></div>
                <div class="actions">
                    <button class="btn btn-round btn-fill btn-neutral btn-modern">
                        <% if @photo3last.avatar.present? %> 
                           <%= link_to foodies_photo_path(id: @photo3last.id) do %>
                             <%= image_tag @photo3last.avatar_url.to_s, :size => "250x180" %>
                           <% end %>
                        <% else %>
                           <%= link_to foodies_photo_path(id: @photo3last.id) do %>
                             <%= image_tag ('/assets/mee.jpg'), :size => "250x180" %>
                           <% end %>
                        <% end %>
                     </button>
                </div>
              </div>

        
        <div class="content">
           <h4>Place: <%= @photo3last.restaurant %></h4>
          <p>Food: <%= @photo3last.title %></p>
          <p>Review: <%= truncate(@photo3last.description, :length => 100) %></p>
          <p>Price:<b> $<%= @photo3last.price %></b></p>   
            <div class="bywho"><small><%= link_to @photo2last.foody.name, foody_path(current_foody) %></br> Created: <%= time_ago_in_words(@photo3last.created_at) %> ago</small></div>
        </div>            
      </div>                                 
    </div> <!-- end card -->

  
<% else %>
     <div class="card-box col-md-4 col-sm-6">
       <div class="card cardleft">                            
        <div class="header">
         <div class="insidephoto"></div>
         <div class="filter"></div>
            <div class="actions">
               <button class="btn btn-round btn-fill btn-neutral btn-modern">Read Article</button>
            </div>
        </div>
       
          <div class="content">
           <h4>Place: XXX </h4>
           <p>Food: XXX </p>
           <p>Review: XXX </p>
           <p>Price:<b> XXX </b></p>   
           <div class="bywho"><small> XXX </br> </small></div>
          </div>                                           
       </div> <!-- end card -->
<% end %>
    </div> 
</div>





