			<div>
	  		    <span class="btn btn-default btn-file"><%= f.file_field :avatar, id: "avatar-upload" %></span>
	  			<%= f.hidden_field :avatar_cache %></br>
	  		</div>




	  		<div class="col-md-6">
			<div class="form-group">
	  			<img id="img_prev" width='500' height='500' src="#" alt="your image" class="img-thumbnail hidden"/>	  			
			</div>
		</div>

















		<h1>Foodies::Photos - Show</h1>



<div class="container-fluid">
  <div class="row indexes">


	<% unless current_foody %>
	  <%= link_to "Sign in with Facebook", foody_facebook_omniauth_authorize_path %>
	  <li><%= link_to "Login", new_foody_session_path %></li>
	    <% else %>
	  <%= link_to "Logout", destroy_foody_session_path, method: :delete %>
	<% end %>

	<% if foody_signed_in? %>
	  <%= link_to current_foody.name, foody_path(current_foody) %>
		<%= @photo.title %>
		<%= @photo.description %>
	
		<p>$<%= @photo.price %></p>
		
		 <% if @photo.avatar.present? %>	
			<%= link_to foodies_photo_path(id: @photo.id) do %>
				<%= image_tag @photo.avatar, :size => '260x180' %>
			<% end %>
		<% else %>
			<%= link_to foodies_photo_path(id: @photo.id) do %>
				<%= image_tag ('/assets/mee.jpg'), :size => "260x180" %>
			 <% end %>
		 <% end %>

		<% if @photo.foody == current_foody %>  
			 <td><div class=""><%= link_to "Edit", edit_foodies_photo_path(id: @photo.id) %>    </div></td>
			 <td><div class=""><%= link_to "Delete", foodies_photo_path(id: @photo.id), method: :delete %></div></td>
	<% end %>
	<% end %>

				
	  <%= link_to "Upload New Photo", new_foodies_photo_path %>
  </div>
</div>





		<div>
    	<%= f.filestack_field :avatar, 'Upload Your Avatar!',  pickerOptions: { accept:["image/*"] }, id: 'unique-id' %> 
    	</div>
  		<%= f.submit %>
		