<div class="container">

	<%= form_for @restaurant, url: restaurant_path(@restaurant), method: :patch do |f| %>
	<h1 class="well">Settings</h1>
	<div class="col-lg-12 well">
		<div class="row">
				
				<form>
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-6 form-group">
								<%= f.label :'Title of Restaurant' %>
								<%= f.text_field :name, placeholder: 'Enter Name of Restaurant Here...', class:"form-control" %>
							</div>
							<div class="col-sm-6 form-group">
								<label>Owner</label>
								<input type="text" placeholder="Enter Owner's Name Here.." class="form-control">
							</div>
						</div>					
						<div class="form-group">
							<%= f.label :Address %>
							<%= f.text_area :location, placeholder: 'Enter Address of Restaurant Here...', class:"form-control" %>
						</div>	
						<div class="row">
							<div class="col-sm-4 form-group">
							<%= f.label :'Operating hours' %>
							<%= f.text_field :time, placeholder: 'Enter Address of Restaurant Here...', class:"form-control" %>
							</div>	
							<div class="col-sm-4 form-group">
								<label>Phone</label>
								<input type="text" placeholder="Enter Phone Number Here.." class="form-control">
							</div>	
							<div class="col-sm-4 form-group">
								<label>Postal Code</label>
								<input type="text" placeholder="Enter Postal Code Here.." class="form-control">
							</div>		
						</div>
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>Email</label>
								<input type="text" placeholder="Enter Email Here.." class="form-control">
							</div>		
							<div class="col-sm-6 form-group">
								<label>Website</label>
								<input type="text" placeholder="Enter Website Here.." class="form-control">
							</div>	
						</div>						
						<div class="form-group">
							<%= f.label :Certification %>
							<%= f.text_field :certification, placeholder: 'Any certification? (e.g. MUIS)', class:"form-control" %>
						</div>		

						<%= f.submit 'Update changes', class: "btn btn-lg btn-info" %>			
					
					</div>
				</form> 
				
			</div>
		</div>
	<% end %>

</div>