<div class="container">

	<!-- A picture of a food or restaurant -->
	
	<h1><%= @restaurant.name %></h1>

	<p><%= @restaurant.description %></p>

	<p><%= @restaurant.time %></p>

	<p><%= @restaurant.location %></p>

	<p><%= @restaurant.certification %></p>

	<%= link_to 'Settings', edit_restaurant_path(@restaurant) %>
</div>

<!-- Below is picture -->

<!-- Pictures -->

<!-- Yup -->
