<div class="container">

	<div class="container">
		<div class="row">
			
			<div class="col-md-6 res-profile">
				<div class="row">
					<div class="col-md-2">Avatar of Restaurant</div>
					<div class="col-md-8"><h1><%= @restaurant.name %></h1></div>
				</div>
				<div class="row">
					<div class="col-md-12"><p><%= @restaurant.description %></p></div>
				</div>
			</div>

			<div class="col-md-2 res-details">
				<table>
					<tr><th>Timing:</th></tr>
					<tr><td><p><%= @restaurant.time %></p></td></tr>

					<tr><th>Location:</th></tr>
					<tr><td><p><%= @restaurant.location %></p></td></tr>

					<tr><th>Certification:</th></tr>
					<tr><td><p><%= @restaurant.certification %></p></td></tr>

					<tr><th>Are you the store owner?</th></tr>
					<tr><td><p><%= link_to 'Claim your store!', edit_restaurant_path(@restaurant) %></p></td></tr>
				</table>
			</div>

			<div class="col-md-4 sidebar">
				<% if @restaurant.recommends.find_by(foody_id: current_foody.id) || @restaurant.disapproves.find_by(foody_id: current_foody.id) %><%= render 'present_like_unlike', restaurant: @restaurant %>
				<% else %><%= render 'new_like_unlike', restaurant: @restaurant %><% end %>				
			</div>
			
		</div>
	</div>

	<!-- Below is picture -->

	<!-- Pictures -->

	<!-- Yup -->

</div>
