<!DOCTYPE html>
<html>
  <head>
    <title>HalalGoWhereApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  </head>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if current_page?(new_foody_session_path) || current_page?(new_foody_registration_path) %>
  
    <%= yield %>
  
  <% else %>

  <nav class="navbar navbar-inverse navbar-fixed-top">
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "Upload A Review", new_foodies_photo_path, class: "navfont pull-left visible-xs" %></li>       
          <li><%= link_to "Home", root_path, class: "navfont visible-xs pull-left" %></li>
          <li><a class="navfont visible-xs pull-left">Top Rated Reviews</a></li>
          <li><%= link_to "Most Recent Reviews", view_more_path, class: "navfont visible-xs pull-left"  %></li>
          <% if foody_signed_in? %>
          <li><%= link_to "Your Profile", foody_path(current_foody), class: "navfont visible-xs pull-left" %></li>
          <li><%= link_to "Logout", destroy_foody_session_path, method: :delete, class: "navfont pull-left visible-xs" %></li>
          <% else %>
          <li><%= link_to "Login", new_foody_session_path, class: "navfont pull-left visible-xs" %></li>
          <% end %>   
        </ul>
      </div>
      <div class="container-fluid">
        <div class="navbar-header hidden-xs">
        <%= link_to root_path do %>
          <%= image_tag "logoA4.png", class: "navlogo" %>
        <% end %>
        </div>
          <ul class="nav navbar-nav navbar-right hidden-xs">
            <li><%= link_to "Upload A Review", new_foodies_photo_path, class: "navfont pull-left hidden-xs" %></li>
            <% if foody_signed_in? %>
            <li><%= link_to foody_path(current_foody) do %><i class="fa fa-user-circle fa-lg fa-inverse navfont hidden-xs"></i></li>
            <% end %>
            <% else %>
            <li><%= link_to "Login", new_foody_session_path, class: "navfont hidden-xs pull-left" %></li>
            <% end %> 
              <li class="dropdown">
              <a href="#" class="dropdown-toggle navfont hidden-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>   
              <ul class="dropdown-menu">
                <li><%= link_to "Most Recent Reviews", view_more_path, class: "navfont" %></li>
                <li><a class="navfont">Top Rated Reviews</a></li>
                <% if foody_signed_in? %>
                <li><%= link_to "Logout", destroy_foody_session_path, method: :delete, class: "navfont" %></li>
                <% end %>     
              </ul>
            </li>
          </ul>
      </div>
  </nav>
  
  <!--                  -->
  <div style="min-height: 100vh;">
  <%= yield %>
  </div>
  <!--                  -->
  
  
  <div class="container-fluid">
  <div class="row footerrow">
    <footer>
      <div class="col-md-11 col-xs-11 visible-lg">
        <ul class="list-inline">
              <li>
                <a href="#">Home</a>
              </li>
              
              <li class="footer-menu-divider">&sdot;</li>
              
              <li>
                <a href="#about">About</a>
              </li>
                    
              <li class="footer-menu-divider">&sdot;</li>
              
              <li>
                <<a href="#about">Contact</a>
                
              </li>
          </ul>

          <div class="row">
            <p class="copyright">Copyright &copy; Halal Go Where 2017. All Rights Reserved</p>
          </div>
      </div>
        <div class="col-md-1 col-xs-1 visible-lg">
          <a href="https://www.instagram.com/halal_go_where/"><i class="fa fa-instagram fa-2x pull-left fa-inverse visible-lg" aria-hidden="true"></i></a>
          <div class="fblogins">
            <a href="https://www.facebook.com/halalgowhere/"><i class="fa fa-facebook-official fa-2x pull-right fa-inverse visible-lg" aria-hidden="true"></i></a>
          </div>
        </div>



       <div class="col-md-10 col-xs-10 hidden-lg">
        <p class="copyright">Copyright &copy; Halal Go Where 2017. All Rights Reserved</p>
       </div>
        <div class="col-md-1 col-xs-1">
          <a href="https://www.instagram.com/halal_go_where/"><i class="fa fa-instagram pull-center pull-right fa-inverse fa-lg hidden-lg" aria-hidden="true"></i></a>
        </div>
        
        <div class="col-md-1 col-xs-1">
          <div class="fblogins">
            <a href="https://www.facebook.com/halalgowhere/"><i class="fa fa-facebook-official pull-left fa-inverse fa-lg hidden-lg" aria-hidden="true"></i></a>
          </div>
        </div>

        
       </footer>
      </div>
    <% end %>
   </div> 
  </body>

</html>



